@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.main {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.app {
  @apply relative z-10 mx-auto flex max-w-7xl flex-col justify-center px-6 sm:px-16;
}

/* FLEX */
.flex-center {
  @apply flex items-center justify-center;
}

.flex-start {
  @apply flex items-start justify-start;
}

.flex-end {
  @apply flex items-center justify-end;
}

.flex-between {
  @apply flex items-center justify-between;
}

/* Head */
.head_text {
  @apply mt-5 text-2xl font-extrabold leading-[1.15] text-black sm:text-4xl;
}

/* Gardients */
.black_gradient {
  @apply bg-gradient-to-r from-gray-700 via-gray-600 to-black bg-clip-text text-transparent;
}

/* Description */
.desc {
  @apply mt-3 text-sm sm:text-xl;
}

/* LOGO TEXT */
.logo_text {
  @apply font-satoshi text-lg font-semibold tracking-wide text-black max-sm:hidden;
}

/* dropdown */

.dropdown {
  @apply absolute right-0 top-full mt-3 flex min-w-[210px] flex-col items-center  justify-end gap-2 rounded-lg bg-gray-100/60 p-5 sm:left-0 sm:w-full;
}

.dropdown_link {
  @apply font-inter text-sm font-medium text-gray-700 hover:text-gray-500;
}

/* Form backgroun */
.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 p-3 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
}

/* Feed */
.feed {
  @apply mx-auto mt-16 flex w-full max-w-xl flex-col items-center justify-center gap-2;
}

/* PROMPT */
.prompt_layout {
  @apply grid grid-cols-1 place-content-center place-items-center gap-4 sm:grid-cols-2 lg:grid-cols-3;
}

.copy_btn {
  @apply flex h-7 w-7 cursor-pointer items-center justify-center rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
}

/* Search */
.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5  font-satoshi text-sm font-medium shadow-lg focus:border-black focus:outline-none focus:ring-0;
}
